<div class="container">
  <div class="row centered-form">
    <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <% if @item.new_record? %>
            <h3 class="panel-title">Add an item to your store <small>It's free!</small></h3>
            <% else %>
              <h3 class='panel-title'>Update your item<small>It's free!</small></h3>
            <% end %>
        </div>
          <div class="panel-body">

              <%= form_for [@shop, @item]  do |f| %>
                
                <div class="col-xs-11 col-sm-11 col-md-11">
                  <div class="form-group">
                      <%= f.text_field :name, class: "form-control input-sm", :placeholder => 'Item Name' %>
                  </div>
                </div>
                <div class="col-xs-11 col-sm-11 col-md-11">
                  <div class="form-group">
                      Size: <%= f.select :size, (4..32).step(0.5).to_a %>
                  </div>
                </div>                
                <div class="col-xs-11 col-sm-11 col-md-11">
                  <div class="form-group">
                      <%= f.text_area :description, class: "form-control input-sm", :placeholder => 'Description of your item' %>
                  </div>
                </div>
                <div class="col-xs-11 col-sm-11 col-md-11">
                  <div class="form-group">
                      <%= f.number_field :price, class: "form-control input-sm", :placeholder => 'How much?' %>
                  </div>
                </div>
                <%= f.hidden_field :shop_id, value: @shop.id %>
                
                <%= f.submit  class: 'btn btn-primary shop-signup-submit' %>
              <% end %>

          </div>
            </div>
          </div>
      </div>
</div>

            