<%= @params %> <br>

<% @items.each do |item| %>
	<%= item.name %><br>
<% end %> 

<div class="row">
	
	<div class="col-md-6 col-md-offset-3">
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
	    	<% @shop_items_photos.count.times do |i| %>
					<% if i == 0 %>
						<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					<% else %>
						<li data-target="#carousel-example-generic" data-slide-to="<%= i %>"></li>
					<% end %>
				<% end %>
	    
	  </ol>

	  <!-- Wrapper for slides -->
		  <div class="carousel-inner">
	    	<% @shop_items_photos.each_with_index do |photo, index| %>
					<div class="item <% if index == 0 %>active<% end %>">
						<%= image_tag photo.photo %>
						<div class="carousel-caption">
							..
						</div>
					</div>
				<% end %>	   
		  </div> <!-- end of carousel-inner -->
	  

	  	<!-- Controls -->
		  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left"></span>
		  </a>
		  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right"></span>
		  </a>
		</div> <!-- end of carousel-example-generic -->
	</div> <!-- end of col-md-6 -->
</div> <!-- end of row -->
<div class="row">
	<div class="col-md-12">
		<%= render partial: 'photo', collection: @shop_items_photos %>
	</div>
</div>