


<div class="container">

	
	<div class="col-md-4">
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	  <!-- Indicators -->
		  <ol class="carousel-indicators">
		  	<% @item_photos.count.times do |i| %>
		  		<% if i == 0 %>
				    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				   <% else %>
				    <li data-target="#carousel-example-generic" data-slide-to="<%= i %>"></li>
				  <% end %>
		    <% end %>
		  </ol>

		  
		  <!-- Wrapper for slides -->
		  <div class="carousel-inner">
		  	<% @item_photos.each_with_index do |photo, index| %>
			  	<div class="item <% if index == 0 %>active<% end %>">
			      <%= image_tag photo.photo.url %>
			      <div class="carousel-caption">
			        <%= photo.name %>
			      </div>
			    </div>
		  		
		  	<% end %>
		    
		    
		    
		  </div>
		  

		  <!-- Controls -->
		  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left"></span>
		  </a>
		  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right"></span>
		  </a>
		</div> <!-- div class= carousel slide -->
	</div> <!-- end of col md-4 -->
	<div class="col-md-4">
		Name:<%= @item.name %><br>
		Price:<%= number_to_currency(@item.price, unit: 'R€') %>
	</div>
	<div class="col-md-4">
      <div class="panel panel-danger">
          <div class="panel-heading">
              <h4 class="text-center">
                  DEV PLAN</h4>
          </div>
          <div class="panel-body text-center">
              <p class="lead">
                  <strong>$10 / month</strong></p>
          </div>
          <ul class="list-group list-group-flush text-center">
              <li class="list-group-item"><i class="icon-ok text-danger"></i>Personal use</li>
              <li class="list-group-item"><i class="icon-ok text-danger"></i>Unlimited projects</li>
              <li class="list-group-item"><i class="icon-ok text-danger"></i>27/7 support</li>
          </ul>
          <div class="panel-footer">
              <a class="btn btn-lg btn-block btn-danger" href="http://www.jquery2dotnet.com">BUY NOW!</a>
          </div>
      </div>
  </div>
</div> <!-- end of container -->

	<%= render @photos %>
</div>



