<!DOCTYPE html>
<html>
<head>
  <title>Vintage.ie</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
		<div class="page-header main_page_header">
			<h1>Vintage.ie<small>bla bla</small></h1>
		</div> <!-- end of main_page_header -->
	<%= render 'partials/nav' %>
	<div class="container-fluid">
		<div class="col-md-3 col-xs-3">
			<%= render 'partials/left' %>
		</div> <!-- end of col-md-3 -->
		<div class="col-md-9 col-xs-9">
			<% flash.each do |key, value| %>
				<div class="alert alert-<%= key %>"><%= value %></div>
			<% end %>

			<%= yield %>
		</div> <!-- end of col-md-9 -->
	</div> <!-- end of container-fluid -->


</body>
</html>
